<div class="right-container">
    {{#user}}
        <p class="fs-1">안녕하세요! {{userName}}님! 반갑습니다 :)</p>
    {{/user}}
    {{^user}}
        <p class="fs-1">로그인이 되어있지 않습니다. 로그인을 해주세요 :)</p>
    {{/user}}
</div>
</div>