<div class="container" style="margin-top:50px;">
    {{#commentDtos}}
    <div class="border border-secondary mb-4" style="margin: 20 auto; width:500px">
            <div style="padding:10; background-color:white; color:black">
                <b>{{editor}}</b>
            </div>
            <div style="padding:10px; background-color:#e0e9f1">
                <b>{{content}}</b>
            </div>
    </div>
    {{/commentDtos}}
</div>