<div class="container-md">
    <div class="border border-secondary mb-4" style="margin: 0 auto; width:500px">
        <div style="padding:15px;">
            <div class="form-floating mb-3">
                <input type="text" id="new-comment-editor" class="form-control"  placeholder="name@example.com">
                <label for="floatingInput">닉네임</label>
            </div>
            <div class="form-floating">
                <textarea id="new-comment-content" class="form-control" placeholder="Leave a comment here" style="height: 100px"></textarea>
                <label for="floatingTextarea2">댓글내용</label>
            </div>
            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}
            <button id="comment-create-btn" type="button" class="btn btn-success" style="margin-top:15px;">등록</button>
        </div>
    </div>
</div>
<script>
{
    const commentCreateBtn = document.querySelector("#comment-create-btn");
    commentCreateBtn.addEventListener("click",function (){
    const comment = {
        editor: document.querySelector("#new-comment-editor").value,
        content: document.querySelector("#new-comment-content").value,
        article_id: document.querySelector("#new-comment-article-id").value
    };
    console.log(comment);

    const url = "/api/articles/" + comment.article_id + "/comments";
    fetch(url, {
        method:"post",
        body:JSON.stringify(comment),
        headers: {
            "Content-Type" : "application/json"
        }
    }).then(response => {
        const msg=(response.ok) ? "댓글이 등록 되었습니다." : "댓글 등록에 실패 하였습니다.";
        alert(msg);
        window.location.reload();
    });
})
}
</script>